:root {
    --font-primary: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
    --background-tertiary: #202225;
}
       @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap');

        body {
        
        font-family: "Montserrat", sans-serif;
        background: #2a2a2a;
        text-rendering: optimizeLegibility;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
}
        }
        
        .content {
        
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        width: 100%;
        height: 100vh;
        }

        .music {
        
        text-align: center;
        }
        
        .card {
        
        background: white;
        box-shadow: 0px 2px 23px black;
        border-radius: 15px;
        width: 300px;
        }
        
        .mediaCard {
        
        background: url("https://i.pinimg.com/originals/ac/7d/54/ac7d543c17ea43b16c605f5ec814e0f9.gif") center/cover;
        height: 200px;
        width: 100%;
        
        }
        
        .topCard {
        
        padding: 20px;
        padding-top: 0px;
        
        }
        
       .bottomCard {
        
        padding: 20px;
        padding-bottom: 15px;
        
        }
        
        .actions {
        
        background: none;
        border: none;
        color: purple;
        
        }
        
        .title {
        
        color: #322437;
        
        }
        
        .secondText {
        
        color: #312834;
        
        }
}

